*{
  margin: 0;
  padding: 0;
}
body {
  font-family: monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #131f23;
  background-color: inherit;
  color: white;
}
input::placeholder{
  color: white;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #131f23;
  background-color: #465b64;
  color: white;
  border-radius: 8px;
  transition:all 0.5s ease 0s;
}
button:hover{
  background-color: #131f23;
}
table{
  width: 100%;
  border: 1px solid #131f23;
  border-radius: 8px;
}
thead,tr,th,td,tbody{
  border: 1px solid #131f23;
}
td{
  padding: 10px;
  font-size: 20px;
}
select{
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  background-color: inherit;
  color: #fff;
}
select option{
  color: #000;
}
h1 {
  text-align: center;
}
video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Масштабируем видео, чтобы заполнить всю область */
  z-index: 1;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  background-color: #131f23;
  padding: 8px;
  border-radius: 10px;
  margin: 25px;
}
.container{
  z-index: 10;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid #dfdddd;
  /* backdrop-filter: contrast(0.7); */
  padding: 10px;
}

.buttons{
  margin: 20px 0px;
}
.typing.animate {
  color: #fff;
  width: 21ch;
  border-right: 0.1em solid #fff;
  font-family: monospace;
  font-size: 2em;
  animation: type 2.5s steps(20), writer 1s infinite alternate,
      delete 0.5s steps(5) 2.5s, type2 1s steps(4) 3s forwards,
      type3 3s steps(22, end) 6s forwards;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.typing.animate::before {
  content: "Добро Пожаловать.";
  animation: type2 1s steps(4) 3s forwards,
      type3 3s steps(22, end) 6s forwards;
}

@keyframes type {
  from {
      width: 0;
  }
  to {
      width: 21ch;
  }
}

@keyframes type2 {
  from {
      width: 16ch;
      content: "Добро Пожаловать.";
  }
  to {
      width: 20ch;
      content: "Добро Пожаловать.";
  }
}

@keyframes type3 {
  from {
      width: 20ch;
      content: "Добро Пожаловать. Выберите Дейстивие";
  }
  to {
      width: 37ch;
      content: "Добро Пожаловать. Выберите Дейстивие";
  }
}

@keyframes writer {
  50% {
      border-color: transparent;
  }
}

@keyframes delete {
  from {
      width: 21ch;
  }
  to {
      width: 16ch;
  }
}
.form{
  padding: 50px;
  border-radius: 15px;
  box-shadow: 11px 8px 20px 0px rgba(34, 60, 80, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid #dfdddd;
}
.role{
  text-decoration: underline;
}